@model DHD_System.Models.DiagnosisViewModels.TestViewModel
@{
    ViewData["Title"] = "Choosen";
}

<h1>Choosen</h1>

@foreach (var item in Model.ListOptions)
{
    <a asp-action="TreatMentFor" asp-controller="Diagnosis" asp-route-Disease=@item>@item</a>
    <br />
}