@model DHD_System.Models.DiagnosisViewModels.DiagnosisViewModel
@using DHD_System.Models.DiagnosisViewModels
@{
    ViewData["Title"] = "DHD system";
}

<div class="container py-5">
    <div class="row px-3">
        <div class="col px-2">
            <form asp-action="Diagnosis" asp-controller="Diagnosis"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-mode="replace"
                  data-ajax-update="#diagnosis">
                <select asp-for="Symptoms" data-style="bg-white px-4 py-3 shadow-sm " class="selectpicker w-75 mx-2" asp-items="@ViewBag.ListOptions" multiple>
                    {
                </select><!-- End -->
                <button type="submit" class="btn btn-outline-primary" id="submit">Diagnosis</button>
                <!-- Multiselect dropdown -->
            </form>
        </div>
    </div>
    <br />
    <div class="row m-auto">
        <div class="card bg-light col overflow-auto m-2 bg-transparent" style="height:320px;">
            <h5 class="mt-3 ml-3">Disease</h5>
            <div class="container" id="diagnosis">
                @{await Html.RenderPartialAsync("_DiagnosisPartial", new DiagnosisViewModel());}
            </div>
        </div>
        <div class="card bg-light col overflow-auto m-2 bg-transparent" style="height:320px;">
            <h5 class="mt-3 ml-3">Treatment</h5>
            <div class="container" id="treatment">
                @{await Html.RenderPartialAsync("_TreatmentPartial", new List<string>());}
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Html.Partial("_DiagnosisPartial")
 }