@model DHD_System.Models.DiagnosisViewModels.TestViewModel
@using DHD_System.Models.DiagnosisViewModels
@{
    ViewData["Title"] = "DHD system";
}

<h1>Diagnosis work!</h1>
<br />

<div class="container py-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <form asp-action="Index" asp-controller="Diagnosis"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-mode="replace"
                  data-ajax-update="#diagnosis">
                <select asp-for="ListOptions" data-style="bg-white px-4 py-3 shadow-sm " class="selectpicker" asp-items="@ViewBag.ListOptions" multiple>
                    {
                </select><!-- End -->
                <button type="submit" class="btn btn-outline-primary">Diagnosis</button>
                <!-- Multiselect dropdown -->
            </form>
        </div>        
    </div>
    <div class="row m-auto">
        <div class="col p-5 rounded overflow-hidden" id="diagnosis">
            <h4>Diseases</h4>
            <div class="container">
                @{await Html.RenderPartialAsync("_DiagnosisPartial", new TestViewModel());}
            </div>
        </div>
        <div class="col p-5 rounded overflow-hidden" id="treatment">
            <div class="container overflow-auto">
                @{await Html.RenderPartialAsync("_TreatmentPartial", new TestViewModel());}
            </div>
        </div>
    </div>

</div>

