@model DHD_System.Models.DiagnosisViewModels.TestViewModel
@{
    ViewData["Title"] = "TreatmentFor";
}

<h1>TreatmentFor</h1>

<br />

<div class="container">
    <ul class="list-group">
        @foreach (var item in Model.ListOptions)
        {
            <li class="list-group-item list-group-item-action">@item</li>
        }
    </ul>
</div>
