@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DHD_System.Models.DiagnosisViewModels.DiagnosisViewModel
@if (Model.Symptoms != null)
{
    <div class="list-group">
        @foreach (var item in Model.Symptoms)
        {
            <a asp-action="TreatMentFor" asp-controller="Diagnosis" asp-route-Disease=@item class="btn list-group-item list-group-item-action"
               data-ajax="true"
               data-ajax-method="GET"
               data-ajax-mode="replace"
               data-ajax-update="#treatment" id="ill">@item</a>
        }
    </div>
}


